JDBC_DATABASE_URL=your_database url (jdbc:postgresql://localhost:5432/books_test_db)
JDBC_DATABASE_PASSWORD= your database password (password_123)
JDBC_DATABASE_USERNAME= your database user name (user_ss)
JDBC_DATABASE_NAME=your database name (books_test_db)
ACTIVE_PROFILE={dev,test,prod}